# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.spec
*.exe
*.manifest

# Tkinter Designer artifacts
*.ui

# OS-specific files
.DS_Store      # macOS
Thumbs.db      # Windows

# Logs and backups
*.log
*.bak

# Virtual environments
venv/
.env/
ENV/
env/
.venv/

# IDEs and editors
.vscode/

# Exported user data
exportedData.txt

# Built executables
InsTracker.exe